---
title: ISI
layout: none
---

<div id="scroller">
    <div class="isi-content content">
        <div class="head-one">
            Veeva<sup>&reg;</sup> Important Safety Information
        </div>
        <div class="full">
            <p><strong>INDICATION</strong></p>
            <ul>
                <li>Bullet</li>
            </ul>
            <div class="black-box">
                <p><strong>WARNING:</strong></p>
                <p><em>See full Prescribing Information for complete boxed warning.</em></p>
                <ul>
                    <li>Bullet</li>
                    <li>Bullet</li>
                    <li>Bullet</li>
                </ul>
            </div>
            <p class="pt-10"><strong>IMPORTANT SAFETY INFORMATION</strong></p>
            <ul>
                <li>Bullet</li>
                <li>Bullet</li>
                <li>Bullet</li>
            </ul>
            <p class="foot-note pt-20">
                &copy;2016 Veeva Node Module
            </p>
        </div>
    </div>
</div>
