<header>
    <div class="row-one">
        <div class="isi-bar">
            <div>Important Safety Information</div>
            <div class="btn-isi">Open</div>
        </div>
        <div class="logo-client"></div>
    </div>
    <div class="row-two">
        <div class="logo-product"></div>
        <p class="tagline"><strong>Product</strong> Tagline</p>
        <div class="isi-bar-bot">
            <div>BOXED WARNING: Message</div>
        </div>
        <div class="glob-buttons">
            <ul>
                <li>
                    <a href="#" data-veeva-presentation = "{{presentationPDFs}}" data-key-message="{{product}}-prescribing-information" class="btn-external">
                        <div class="button-container"><div class="button"><span class="nav-outer"><span>Full PI</span></span></div></div>
                    </a>
                </li>
                <li>
                    <a href="#" data-key-message="resources" class="btn-link">
                        <div class="button-container"><div class="button"><span class="nav-outer"><span>Resources</span></span></div></div>
                    </a>
                </li>
                <li>
                    <a href="#" data-key-message="sitemap" class="btn-link">
                        <div class="button-container"><div class="button"><span class="nav-outer"><span>Sitemap</span></span></div></div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
