
$font-path: "../../global/fonts" !default;
$fa-version: "4.0.3" !default;


// Typography
$font-header-one: "AvenirNextCondensed-Bold", "helvetica_neue_lt_com67MdCn";
$font-header-two: "AvenirNext-Medium", "helvetica_neue_lt_com57Cn";
$font-header-three: "HelveticaNeue-CondensedBold", "helvetica_neue_lt_com67MdCn";


$font-copy: 'AvenirNextCondensed-Regular', "helvetica_neue_lt_com47LtCn";
$font-copy-bold: 'AvenirNextCondensed-Bold', "helvetica_neue_lt_com67MdCn";

// global colors
$white:             #fff;
$gray:              #39393e;
$red:               #d4451d;

