
/**
 * @fileOverview: Screen Specific Definitions
 * @screen: Resources
 */





section.resources{

    #section-scroller{

        position: relative;
        top: 5px;
        bottom: 48px;
        left: 0;
        width: 900px;
        height: 470px;
        overflow: hidden;

        /* Prevent elements to be highlighted on tap */
        -webkit-tap-highlight-color: rgba(0,0,0,0);

        /* Put the scroller into the HW Compositing layer right from the start */
        -webkit-transform: translateZ(0);

        .iScrollVerticalScrollbar{
            background: #d3d5d6;
            border: 1px solid #6d6e71;
            width: 10px !important;
        }

        .iScrollIndicator{
            background: #ffffff !important;
            border: 1px solid #545456 !important;
            border-radius: 0px !important;
        }


        article {
            //display:none;

            width: 18%;
            margin: 10px 1%;
            padding: 1%;
            padding-bottom: 150px;

            img{width:130px;}

            .head{
                color: $gray;
                font-family: $font-header-three;
                font-size: 16px;
                padding: 6px 0px 5px 0px;
                text-indent: 0px !important;
                line-height: 18px;
                text-align: center;
            }

            ul.buttons{
                margin: 0px 0px 0px 10px;
                list-style-type: disc;
                li{
                    text-indent:0px;
                    padding:5px 0px 1px 0px;
                    margin:0px;
                    //overwrite some strange rule
                    &:before {content: "" !important; padding-right:0px !important;}
                }
            }
        }
    }

}
